<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="" routerLinkActive="active">MarchCharts</a>
  <button  (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compare" routerLinkActive="active">Compare</a>
      </li>
    </ul>
  </div>
</nav>
