<form class="form-row">
  <div class="col-auto" *ngIf="conferences">
    <label for="conference">Conference</label>
    <select #confSelect (change)="onConferenceSelected(confSelect.value)" class="form-control" id="conference">
      <option *ngFor="let conf of conferences" [value]="conf.id">{{ conf.name }}</option>
    </select>
  </div>
  <div class="col-auto" *ngIf="selectedConference">
    <label for="team">Team</label>
    <select #teamSelect (change)="onTeamSelected(teamSelect.value)" class="form-control" id="team">
      <option *ngFor="let team of selectedConference.teams" [value]="team.id">{{ team.name }}</option>
    </select>
  </div>
</form>
<div class="row">
  <div *ngIf="netChartData" class="col-lg-6 my-3">
    <div class="p-3 bg-white shadow-sm">
      <div class="row align-items-end">
        <div class="col">
          <h3 class="text-left mb-0 d-inline">NET</h3>
          <span style="font-size: 15px">{{ '#' + getCurrentMetrics().net }}</span>
        </div>
      </div>
      <div style="display: block;">
        <canvas baseChart height="100%"
                [datasets]="netChartData"
                [labels]="netChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 my-3">
    <div *ngIf="sosChartData" class="p-3 bg-white shadow-sm">
      <div class="row align-items-end">
        <div class="col">
          <h3 class="text-left mb-0 d-inline">SOS</h3>
          <span style="font-size: 15px">{{ '#' + getCurrentMetrics().sos }}</span>
        </div>
      </div>
      <div style="display: block;">
        <canvas baseChart height="100%"
                [datasets]="sosChartData"
                [labels]="sosChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 my-3">
    <div *ngIf="resultsChartData" class="p-3 bg-white shadow-sm">
      <div class="row align-items-end">
        <div class="col">
          <h3 class="text-left mb-0 d-inline">RESULTS BY QUADRANT</h3>
          <span style="font-size: 15px">{{ getCurrentMetrics().wins + '-' + getCurrentMetrics().losses }}</span>
        </div>
      </div>
      <div style="display: block;">
        <canvas baseChart height="100%"
                [datasets]="resultsChartData"
                [labels]="resultsChartLabels"
                [options]="lineChartOptions"
                [colors]="resultsChartColors"
                [legend]="true"
                [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 my-3">
    <div *ngIf="avgOppNetChartData" class="p-3 bg-white shadow-sm">
      <div class="row align-items-end">
        <div class="col">
          <h3 class="text-left mb-0 d-inline">QUADRANT WIN PCT</h3>
          <span style="font-size: 15px">{{ getCurrentMetrics().wins + '-' + getCurrentMetrics().losses }}</span>
        </div>
      </div>
      <div style="display: block;">
        <canvas baseChart height="100%"
                [datasets]="quadWinPctData"
                [labels]="quadWinPctLabels"
                [options]="winPctOptions"
                [colors]="resultsChartColors"
                [legend]="true"
                [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-6 my-3">
    <div *ngIf="avgOppNetChartData" class="p-3 bg-white shadow-sm">
      <div class="row align-items-end">
        <div class="col">
          <h3 class="text-left mb-0 d-inline">AVG OPP NET</h3>
          <span style="font-size: 15px">{{ '#' + getCurrentMetrics().avgOppNET }}</span>
        </div>
      </div>
      <div style="display: block;">
        <canvas baseChart height="100%"
                [datasets]="avgOppNetChartData"
                [labels]="avgOppNetChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
      </div>
    </div>
  </div>
</div>
