<div class="col" *ngIf="teamMetricsChanges">
  <div class="p-3 bg-white shadow-sm">
    <div class="row align-items-end">
      <div class="col">
        <h3 class="text-left mb-0 d-inline">MOVEMENT</h3>
        <form class="form-row align-items-end">
          <div class="col-auto">
            <label for="from">From</label>
            <div class="input-group">
              <input id="from" class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="fromDate" [markDisabled]="isDisabledDate" ngbDatepicker #fromPicker="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="fromPicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <label for="from">To</label>
            <div class="input-group">
              <input id="to" class="form-control" placeholder="yyyy-mm-dd"
                     name="dp2" [(ngModel)]="toDate" [markDisabled]="isDisabledDate" ngbDatepicker #toPicker="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="toPicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="onDateRangeSelected()">Update</button>
          </div>
        </form>
        <br>
        <table class="table table-hover table-sm table-responsive-sm">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th class="text-center bold-right" scope="col" colspan="6">{{ toDate.toDateString() }}</th>
            <th class="text-center" scope="col" colspan="6">{{ fromDate.toDateString() + ' to ' + toDate.toDateString() }}</th>
          </tr>
          <tr>
            <th class="text-left" scope="col" [class.active]="order === 'teamName'"
                (click)="setOrder('teamName')">Team
              <span *ngIf="order === 'teamName'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th class="text-left" scope="col" [class.active]="order === 'conferenceName'"
                (click)="setOrder('conferenceName')">Conference
              <span *ngIf="order === 'conferenceName'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'net2'"
                (click)="setOrder('net2')">NET
              <span *ngIf="order === 'net2'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'sos2'"
                (click)="setOrder('so2s')">SOS
              <span *ngIf="order === 'sos2'">
                <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'q1Wins2'"
                (click)="setOrder('q1Wins2')">Q1 W
              <span *ngIf="order === 'q1Wins2'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            <th scope="col" [class.active]="order === 'q2Wins2'"
                (click)="setOrder('q2Wins2')">Q2 W
              <span *ngIf="order === 'q2Wins2'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'q3Losses2'"
                (click)="setOrder('q3Losses2')">Q3 L
              <span *ngIf="order === 'q3Losses2'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            <th class="bold-right" scope="col" [class.active]="order === 'q4Losses2'"
                (click)="setOrder('q4Losses2')">Q4 L
              <span *ngIf="order === 'q4Losses2'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>

            <th scope="col" [class.active]="order === 'netChange2'"
                (click)="setOrder('netChange')">NET
              <span *ngIf="order === 'netChange'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'sosChange'"
                (click)="setOrder('sosChange')">SOS
              <span *ngIf="order === 'sosChange'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'q1WinsChange'"
                (click)="setOrder('q1WinsChange')">Q1 W
              <span *ngIf="order === 'q1WinsChange'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            <th scope="col" [class.active]="order === 'q2WinsChange'"
                (click)="setOrder('q2WinsChange')">Q2 W
              <span *ngIf="order === 'q2WinsChange'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
            <th scope="col" [class.active]="order === 'q3LossesChange'"
                (click)="setOrder('q3LossesChange')">Q3 L
              <span *ngIf="order === 'q3LossesChange'">
                <span [hidden]="reverse">▼</span>
              <span [hidden]="!reverse">▲</span>
              </span>
            <th scope="col" [class.active]="order === 'q4LossesChange'"
                (click)="setOrder('q4LossesChange')">Q4 L
              <span *ngIf="order === 'q4LossesChange'">
                <span [hidden]="reverse">▼</span>
                <span [hidden]="!reverse">▲</span>
              </span>
            </th>
          </tr>
          </thead>
          <tbody class="table-active">
          <tr class="" *ngFor="let team of teamMetricsChanges |  orderBy : order : reverse : 'case-insensitive' | paginate: { itemsPerPage : 15, currentPage : p }">
            <td>{{ team.teamName }}</td>
            <td>{{ team.conferenceName }}</td>
            <td>{{ team.net2 }}</td>
            <td>{{ team.sos2 }}</td>
            <td>{{ team.q1Wins2 }}</td>
            <td>{{ team.q2Wins2 }}</td>
            <td>{{ team.q3Losses2 }}</td>
            <td class="bold-right">{{ team.q4Losses2 }}</td>

            <td [class.table-success]="team.netChange < 0" [class.table-danger]="team.netChange > 0">
              {{ team.netChange | inverseSign | signPrepend }}
            </td>
            <td [class.table-success]="team.sosChange < 0" [class.table-danger]="team.sosChange > 0">
              {{ team.sosChange | inverseSign | signPrepend }}
            </td>
            <td [class.table-success]="team.q1WinsChange > 0" [class.table-danger]="team.q1WinsChange < 0">
              {{ team.q1WinsChange | signPrepend }}
            </td>
            <td [class.table-success]="team.q2WinsChange > 0" [class.table-danger]="team.q2WinsChange < 0">
              {{ team.q2WinsChange | signPrepend }}
            </td>
            <td [class.table-success]="team.q3LossesChange < 0" [class.table-danger]="team.q3LossesChange > 0">
              {{ team.q3LossesChange | signPrepend }}
            </td>
            <td [class.table-success]="team.q4LossesChange < 0" [class.table-danger]="team.q4LossesChange > 0">
              {{ team.q4LossesChange | signPrepend }}
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
